html {
  box-sizing: border-box;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

body {
  background-color: #B2BEB5;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header {
  background-color:#36454F;
  padding: 20px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  background-color: #36454F;
  padding: 20p
}

header p, footer p {
  text-align: center;
  color: #B2BEB5
}

main p, .body-header, ul, .hr-body, a, ol {
  text-align: center;
  color: #36454F;
}

.text-center {
  text-align: center;
}

.hf-text-color {
  color: #B2BEB5;
}

hr {
  width: 100px;
  height: 2px;
  background-color: #B2BEB5;
  border: none
}

.hr-body {
  width: 100px;
  height: 2px;
  background-color:#36454F ;
  border: none
}

a:link {color:#B2BEB5}
a:visited {color:#D3D3D3}
a:hover {color:#6082B6}
a:active {color: black}

.stack {
  display: block;
}

ul, ol {
  list-style-position: inside;
}